#createPanel(hidden).panel
	h1 Reinsurance Platform
	hr
	
	#innerWrap
		span.fa.fa-file-text-o(style="font-size: 250px; float:left;")
		
		form(action="/create" method="POST")#createform
			
		#createPanel(hidden).panel
	h1 Reinsurance Platform
	hr
	
	#innerWrap
		span.fa.fa-file-text-o(style="font-size: 250px; float:left;")
		
		form(action="/create" method="POST")#createform
			
			legend 
				input(type="text" name="ticker")
				span.hint Property Owner
			legend 
				input(type="text" name="par")
				span.hint Location
			legend 
				select(name="qty")
					option Small
					option Medium
					option Large
					option Huge
				span.hint Size
			legend 
				input(type="text" name="discount")
				span.hint Nature
			legend 
				input(type="text" name="maturity")
				span.hint Remarks	
			
			legend
				button(type="button" style="margin:5px;")#submit
					span.fa.fa-check &nbsp;&nbsp;
					span CREATE
			
